<header class="site-header">
    <div class="site-header__inner">
        <a class="site-header__brand" href="/">{{ site.title }}</a>
        <nav class="site-nav" aria-label="Primary">
            <a class="site-nav__link" href="/">{{ 'nav.home' | t }}</a>
            <a class="site-nav__link" href="/posts/">{{ 'nav.blog' | t }}</a>
            <a class="site-nav__link" href="/features/">{{ 'nav.features' | t }}</a>
            <a class="site-nav__link" href="/about/">{{ 'nav.about' | t }}</a>
        </nav>
    </div>
</header>
